<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--  Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- Material Icon -->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <style>
        /* repeated CSS */
        .navbar-icons {
            font-size: 35px;
            color: gray;
            margin-left: 90px;
        }

        .navbar-boxicons {
            font-size: 25px;
        }

        .left_menu {
            font-size: 20px;
            margin-top: 14px;
        }

        .sb {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        /* Circle Navbar Icon */
        .navbar-box {
            width: 40px;
            height: 40px;
            border-radius: 70%;
            overflow: hidden;
            background: #f5f5f5;
            margin-left: 10px;
        }

        .navbar-circle {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-top: 8px;
            text-align: center;
        }

        /* Circle Profile Image */
        .box {
            width: 40px;
            height: 40px;
            border-radius: 70%;
            overflow: hidden;
            background: #f5f5f5;
        }

        .circle {
            width: 100%;
            height: 100%;
            object-fit: cover;
            text-align: center;
        }

        /* Modal */
        .modal_overlay,
        .modal_overlay2 {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            justify-content: center;
            background: rgba(228, 225, 225, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);

        }

        .modal_window,
        .modal_window2 {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 500px;
            height: 560px;
            position: relative;
            padding: 30px;
            text-align: center;
        }

        /* Dropdown */
        .dot.dropdown-menu.show {
            transform: translate(-120px, 30px) !important; /* '!important' is to prioritize */
        }

        .share.dropdown-menu.show {
            transform: translate(-50px, -40px) !important;
            width: 175px;
            height: 50px;
        }
    </style>

    <title>Facebook</title>
</head>

<body style="background-color: #f0eeee;">
    <!-- Navbar -->
    <nav class="navbar shadow-sm"
        style="background-color: white; display: flex; flex-direction:row;
    justify-content:space-between; width: 100%; height: 60px; padding: 0 20px; position: fixed; margin-top: -60px; z-index: 1;">
        <div style="display: flex; flex-direction:row;">
            <a href="{% url 'main' %}">
                <img src="https://www.facebook.com/images/fb_icon_325x325.png" style="width: 40px; height: 40px;">
            </a>
            <div class="navbar-box">
                <span class="navbar-circle material-icons navbar-boxicons" style="color: gray;">
                    search
                </span>
            </div>
        </div>
        <div style="width: 390px;" class="d-none d-md-block">
            <a href="{% url 'main' %}" class="material-icons-outlined navbar-icons" style="text-decoration: none;">
                home
            </a>
            <a href="{% url 'news' %}" class="material-icons-outlined navbar-icons" style="text-decoration: none;">
                feed
            </a>
            <span class="material-icons-outlined navbar-icons">
                groups
            </span>
        </div>
        <div style="display: flex; flex-direction:row;">
            <div class="navbar-box">
                <span class="navbar-circle material-icons navbar-boxicons">
                    apps
                </span>
            </div>
            <div class="navbar-box">
                <span class="navbar-circle material-icons navbar-boxicons">
                    sms
                </span>
            </div>
            <div class="navbar-box">
                <span class="navbar-circle material-icons navbar-boxicons">
                    notifications
                </span>
            </div>
            <div class="box" style="margin-left: 10px;"><img class="circle profile"
                    src="{% get_media_prefix %}{{ user.profileimg }}"></div>
        </div>
    </nav>
    <!-- Contents in frame Start -->
    {% block content %}
    {% endblock %}
    <!-- Contents in frame End -->
</body>

<script> // (jquery.ver)

    // Upload Modal 
    $('#feed_upload_box').click(function () {
        $('.modal_overlay').css({
            display: 'flex'
        })
        $(document.body).css({
            overflow: 'hidden'
        })
    })

    // Edit Modal (Modify Modal)
    $('.feed_edit_btn').click(function (e) {
        let feed_content = e.target.attributes.getNamedItem('feed_content').value;
        let feed_contentimg = e.target.attributes.getNamedItem('feed_contentimg').value;
        let feed_id = e.target.attributes.getNamedItem('feed_id').value;

        $('#modify_content_text').val(feed_content) // Load the current existing contents

        $('#modify_photo_msg').css({
            display: "none"
        });
        $('.img_upload_space').css({
            "background-image": "url(" + feed_contentimg + ")",  // Output the attached image in display
            "outline": "none",
            "background-size": "100%",
            "background-repeat": "no-repeat", // Output only one image despite small one (prevent from output in tile)
            "background-position": "center", // Locate it at center
            'margin-top': "-10px",
        });

        $('#feed_modify_button').attr('feed_id', feed_id); // Input the feed's id in the Save button in the Modify Modal

        $('#modify_modal').css({
            display: 'flex'
        })
        $(document.body).css({
            overflow: 'hidden'
        })
    })

    // Close Modal
    $('.modal_close').click(function () {
        $('.modal_overlay').css({
            display: 'none'
        })
        $('.modal_overlay2').css({
            display: 'none'
        })
        $('.img_upload_space').css({    // Reset the modal in original form
            "background-image": "",
            "background-color": "white",
            "outline-offset": "-10px",
            "border": "solid 1px lightgray",
            "margin": " -40px 0 0 0",
            "width": "420px",
            "height": "380px",
        });
        $(document.body).css({
            overflow: 'visible'
        })
    })

    // Upload image in Modal
    let files // Global variable for all funcition that is need

    $('.img_upload_space')
        .on("dragover", dragOver)// When Mouse-cusor get in(dragover), function the dragOver-function
        .on("dragleave", dragOver) // When Mouse-cusor get out(dragleave), also function the dragOver-function
        .on("drop", uploadFiles);// When the picture droped in, function the uploadFiles-function

    function dragOver(e) {
        e.stopPropagation(); // To prevent other event from spreading up to display from parent element
        e.preventDefault(); // To prevent other event from happening other than current event 'e'
        if (e.type == "dragover") { // When Mouse-cusor get in (event type is dragover)
            $(e.target).css({   // e.target = .img_upload_space
                "background-color": "black",
                "outline-offset": "-20px",
                "border": "dashed 4px gray",
                "margin": "-35px 5px 5px 5px",
                "width": "410px",
                "height": "370px",
            });
        } else {    // When Mouse-cusor get out (event type is dragleave)
            $(e.target).css({
                "background-color": "white",
                "outline-offset": "-10px",
                "border": "solid 1px lightgray",
                "margin": " -40px 0 0 0",
                "width": "420px",
                "height": "380px",
            });
        }
    }
    function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();
        e.dataTransfer = e.originalEvent.dataTransfer;  // The dropped-in-Image file transfer to upload
        files = e.dataTransfer.files;

        if (files.length > 1) { // If picture is more than one
            alert('Please upload only one.');
            return;
        }

        if (files[0].type.match(/image.*/)) {   // If It is Image file
            $('#add_photo_msg').css({
                display: "none"
            });
            $('.img_upload_space').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",  // Output the attached image in display
                "outline": "none",
                "background-size": "100%",
                "background-repeat": "no-repeat", // Output only one image despite small one (prevent from output in tile)
                "background-position": "center", // Locate it at center
                'margin-top': "-10px",
            });
        } else { // If It is not Image file
            alert('That is not Image');
            return;
        }
    }

    // Feed Upload (transfer to server)
    $('#feed_create_button').click(function () {
        alert("Shared");
        let fd = new FormData();

        if (files) {
            let file = files[0];
            let image = files[0].name;
            fd.append('file', file);
            fd.append('image', image);
        }

        let content = $('#content_text').val();
        fd.append('content', content);
        fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');   // csrf_token

        $.ajax({
            url: "/main/upload",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("succsess");
            },
            error: function (request, status, error) {
                console.log("error");
            },
            complete: function () {
                console.log("completion");
                location.replace("/main");  // Go to main, after all (to close the modal and check the uploaded feed)
            }
        })
    });

    // Feed Modify (transfer to server)
    $('#feed_modify_button').click(function (e) {
        alert("Modified");
        let fd = new FormData();

        if (files) {
            let file = files[0];
            let image = files[0].name;
            fd.append('file', file);
            fd.append('image', image);
        }
        let feed_id = e.target.attributes.getNamedItem('feed_id').value;
        let content = $('#modify_content_text').val();
        fd.append('feed_id', feed_id);
        fd.append('content', content);
        fd.append('csrfmiddlewaretoken', '{{ csrf_token }}'); 

        $.ajax({
            url: "/main/modify/",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("succsess"); 
            },
            error: function (request, status, error) {
                console.log("error");
            },
            complete: function () {
                console.log("completion");
                location.replace("/main");
            }
        })
    });

    // Feed Delete
    $('.feed_delete_btn').click(function (e) {
        let feed_id = e.target.attributes.getNamedItem('feed_id').value;
        if (confirm("Are you sure to delete that?")) {
            $.ajax({
                url: "/main/delete/",
                data: { 'feed_id': feed_id },
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                method: "POST",
                success: function (data) {
                    console.log("succsess");
                    location.replace("/main");
                },
                error: function (request, status, error) {
                    console.log("error",request);
                },
                complete: function () {
                    console.log("completion");
                }
            })
        }
    })

    // Click 'comment' (comment space)
    $('.comment_start').click(function (e) {
        let feed_id = e.target.attributes.getNamedItem('feed_id').value;
        $('.comment_section_' + feed_id).css({
            display: 'flex'
        })
    })

    // Comment
    $('.submit_on_enter').keydown(function (e) {     
        if (event.keyCode == 13) { // Enter has keyCode = 13
            let feed_id = e.target.attributes.getNamedItem('feed_id').value;
            let comment_id = "comment_" + feed_id;
            let comment_content = $('#' + comment_id).val();

            if (comment_content.length <= 0) {  // If There is no any letter
                alert("Please write a comment")
                return 0;
            }

            $.ajax({
                url: "/uploadcomment/",
                data: {
                    'feed_id': feed_id,
                    'comment_content': comment_content,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                method: "POST",
                success: function (data) {
                    console.log("succsess");
                    // Real-time comment input
                    $('#comment_list_' + feed_id).append(`<div style="display: flex; flex-direction: row;">
                        <div class="box"><img class="circle profile"
                        src="{% get_media_prefix %}{{ user.profileimg }}">
                </div>
                <div>    
                    <div style="border: solid 1px lightgray;  width: 80%; min-width: 200px; border-radius: 30px; background: #f0eeee; padding: 5px 15px;">                       
                        <div style="font-size: 12px; font-weight: bold;">{{ user.name }}</div>
                        <div style="font-size: 12px;">`+ comment_content + `</div>
                    </div>
                    <div style="margin-left: 10px; font-size :12px; color :gray ">
                        <span>Like</span><span> Reply </span><span> Now </span>
                    </div></div></div>`)
                    // Real-time comment number
                    nowText = Number($('#comment_count_' + feed_id).html())
                    $('#comment_count_' + feed_id).text(nowText + 1)

                },
                error: function (request, status, error) {
                    console.log("error");
                    location.replace("/main");
                },
                complete: function () {
                    console.log("completion");
                    $('#' + comment_id).val("") // Get the comment-spot empty after comment completion
                }
            })
        }
    })
    // Like
    $('.like_button').click(function (e) {
        let feed_id = e.target.attributes.getNamedItem('feed_id').value;

        if ($('#likeicons_' + feed_id).attr("class") == "material-icons-outlined") { // # If the likeicon is not filled with black (namely If non-liked)
            $('#likeicons_' + feed_id).removeClass("material-icons-outlined");
            $('#likeicons_' + feed_id).addClass("material-icons"); // fill with black (Like O)
            likeicons = "material-icons" 
        } else {
            $('#likeicons_' + feed_id).removeClass("material-icons");
            $('#likeicons_' + feed_id).addClass("material-icons-outlined"); // (Like X)
            likeicons = "material-icons-outlined" 
        }

        $.ajax({
            url: "/toglelike/",
            data: {
                'feed_id': feed_id,
                'likeicons': likeicons,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            method: "POST",
            success: function (data) {
                console.log("succsess");
                let nowText
                if ($('#likeicons_' + feed_id).attr("class") == "material-icons-outlined") { // If 'Like' canceled
                    nowText = Number($('#like_count_' + feed_id).html()) // Current Likecount
                    $('#like_count_' + feed_id).text(nowText - 1) // Likecount - 1
                } else {    // If 'Like' applied
                    nowText = Number($('#like_count_' + feed_id).html()) // Current Likecount
                    $('#like_count_' + feed_id).text(nowText + 1) // Likecount + 1
                }
            },
            error: function (request, status, error) {
                console.log("error");
            },
            complete: function () {
                console.log("completion");
            }
        })
    })

    // Comment Like, Likecount
    $('.comment_like_button').click(function (e) {
        let comment_id = e.target.attributes.getNamedItem('comment_id').value;
        let like_or_not
            // FYI, 'Liked' = like, 'Like' = non-like
        if ($('#comment_like_button_' + comment_id).html() == 'Liked') { // If clicked in the status of 'Liked'
            $('#comment_like_button_' + comment_id).html('Like'); // Turn to 'Like'(like-cancle, non-like)
            $('#comment_like_button_' + comment_id).css({
                'color': 'gray',
                'cursor': 'pointer'
            })
            like_or_not = ""
            if ($('#comment_likecount_' + comment_id).html() == '1') { // When like-cancle, the likecount was '1'
                $('#comment_likeicons_' + comment_id).html(''); // the likecount is Empty
            }
            else {  // When like-cancle, the likecount was more than '1'
                $('#comment_likecount_' + comment_id).html(Number($('#comment_likecount_' + comment_id).html()) - 1); // Current Likecount = Likecount - 1
            }

        } else { // If clicked in the status of 'Like'
            $('#comment_like_button_' + comment_id).html('Liked'); // Turn to 'Liked'(like)
            $('#comment_like_button_' + comment_id).css({
                'color': 'blue',
                'cursor': 'pointer'
            })
            like_or_not = "Liked"

            if ($('#comment_likecount_' + comment_id).html() == undefined) { // When liked, the likecount was '0'
                $('#comment_likeicons_' + comment_id).html(`<span id="comment_likeicons_` + comment_id + `">
                            <span id="comment_materialicons_`+ comment_id + `" class="material-icons">thumb_up</span>
                            <span id="comment_likecount_`+ comment_id + `">1</span>
                        </span>`);  // the likecount is '1'
                $('#comment_likeicons_' + comment_id).css({
                    'font-size': '12px',
                    'color': 'blue',
                })
                $('#comment_materialicons_' + comment_id).css({
                    'font-size': '12px',
                })
            }
            else {  // When liked, the likecount was more than '0'
                $('#comment_likecount_' + comment_id).html(Number($('#comment_likecount_' + comment_id).html()) + 1); // Current Likecount = Likecount + 1
            }
        }

        $.ajax({
            url: "/toglecommentlike/",
            data: {
                'comment_id': comment_id,
                'like_or_not': like_or_not,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            method: "POST",
            success: function (data) {
                console.log("succsess");
            },
            error: function (request, status, error) {
                console.log("error");
            },
            complete: function () {
                console.log("completion");
            }
        })
    })

    // Click 'reply' or 'N_replies' (comment's comment space)
    $('.comment_comment_button').click(function (e) {
        let comment_id = e.target.attributes.getNamedItem('comment_id').value;
        $('.comment_comment_section_' + comment_id).css({
            'display': 'flex',
        })
        $('#replies_' + comment_id).css({
            'display': 'none',
        })
    })
    // Comment's comment
    $('.submit_on_enter_in_comment').keydown(function (e) {
        if (event.keyCode == 13) { // enter has keyCode = 13
            let comment_id = e.target.attributes.getNamedItem('comment_id').value;
            let comment_comment_id = "comment_" + comment_id;
            let comment_comment_content = $('#' + comment_comment_id).val();

            if (comment_comment_content.length <= 0) { // If There is no any letter
                alert("Please write a comment")
                return 0;
            }

            $.ajax({
                url: "/uploadcomment_comment/",
                data: {
                    'comment_id': comment_id,
                    'comment_comment_content': comment_comment_content,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                method: "POST",
                success: function (data) {
                    console.log("succsess");
                    // Real-time reply input
                    $('#comment_comment_list_' + comment_id).append(`<div class="comment_comment_section_` + comment_id + `" comment_id= "` + comment_id + `" style= "display: flex; flex-direction: row;">
                                <span class="material-icons">
                                    subdirectory_arrow_right
                                </span>
                                <div class="box"><img class="circle profile" src="{% get_media_prefix %}{{ user.profileimg }}">
                                </div>
                                <div style="border: solid 1px lightgray;  width: 80%; min-width: 200px; border-radius: 30px; background: #f0eeee; padding: 5px 15px;">
                                    <div style="font-size: 12px; font-weight: bold;">{{ user.name }}</div>
                                    <span style="font-size: 12px;">`+ comment_comment_content + `</span>
                                </div>
                            </div>`)
                },
                error: function (request, status, error) {
                    console.log("error");
                    location.replace("/main");
                },
                complete: function () {
                    console.log("completion");
                    $('#' + comment_comment_id).val("")
                }
            })
        }
    })

    // Feed Share
    $('.share_now_btn').click(function (e) {
        let feed_id = e.target.attributes.getNamedItem('feed_id').value;
        let feed_name = e.target.attributes.getNamedItem('feed_name').value;
        let feed_content = e.target.attributes.getNamedItem('feed_content').value;
        let feed_contentimg = e.target.attributes.getNamedItem('feed_contentimg').value;
        let created_at = e.target.attributes.getNamedItem('created_at').value;
        let modified_at = e.target.attributes.getNamedItem('modified_at').value;

        let fd = new FormData();
        fd.append('feed_id', feed_id);
        fd.append('feed_name', feed_name);
        fd.append('feed_content', feed_content);
        fd.append('feed_contentimg', feed_contentimg);
        fd.append('created_at', created_at);
        fd.append('modified_at', modified_at);
        fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');   // csrf_token

        $.ajax({
            url: "/main/share/",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("succsess");
                location.replace("/main");
            },
            error: function (request, status, error) {
                console.log("error");
            },
            complete: function () {
                console.log("completion");

            }
        })
    })

    // Feed hide
$('.feed_hide_btn').click(function (e) {
        let feed_id = e.target.attributes.getNamedItem('feed_id').value;
        let fd = new FormData();
        fd.append('feed_id', feed_id);
        fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        $.ajax({
            url: "/main/hide/",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("succsess");
                // Real-time hide message input
                $('.feed_' + feed_id).html(`<div class="sb" style="height: 55px; padding: 5px;">
                <span class="sb">
                    <img style="width: 25px; height: 25px; margin-top: 8px;" src="https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/l36ouVTLKY-.png">
                    <div style="margin-left: 10px;">
                        <div><b>Post hidden</b></div>
                        <div>You won't see this post in your Feed.</div>
                    </div>
                </span>
            </div>`)
            },
            error: function (request, status, error) {
                console.log("error");
            },
            complete: function () {
                console.log("completion");
            }
        })
    })
</script>
</html>