{% extends 'frame.html' %}
{% block content %}
{% load static %}

<div class="sb" style="padding-left: 20px; margin-top: 60px;">
    <!-- Left -->
    <div style="width: 300px; height: 700px; position: fixed;" class="d-none d-lg-block">
        <li class="left_menu" style="display: flex; flex-direction: row;">
            {% if user.is_authenticated %}
            <div class="box" style="margin-right: 6px;"><img class="circle profile"
                    src="{% get_media_prefix %}{{ user.profileimg }}"></div>
            <a style="text-decoration: none; color: black;" href="{% url 'logout' %}">{{ user.name }} (Logout)</a>
            {% endif %}
        </li>

        <a class="left_menu" href="{% url 'news' %}" style="text-decoration: none; color: black;"><img
                src="https://static.xx.fbcdn.net/rsrc.php/v3/yT/r/jEh7gupryIB.png"> News</a>
    </div>

    <!-- Center -->
    <div style="width: 500px; padding: 7px; margin-right: 15%; left: 320px; position: sticky;">
        <!-- Feed Upload -->
        <div class="sb shadow-sm"
            style="background-color: white; padding: 5px; margin-bottom: 20px; border-radius: 5px;">
            <div class="box"><img class="circle profile" src="{% get_media_prefix %}{{ user.profileimg }}">
            </div>
            <div id="feed_upload_box"
                style="border: solid 1px lightgray; width: 90%; border-radius: 30px; background: #f0eeee; margin-left: 5px; padding: 5px 15px;  text-decoration: none; cursor: pointer; ">
                <span style="font-size: 12px; color: gray;">What's on your mind, {{ user.name }}?</span>
            </div>
        </div>
        <!-- Feed -->
        {% if feed_list %}
        {% for feed in feed_list %}
        <div class="feed_{{ feed.id }} shadow-sm" style="background-color: white; padding: 5px; margin-bottom: 20px; border-radius: 5px;">
            <!-- Feed Head (profileimg, name, created_at, modified_at, 3_dot_icon) -->
            <div class="sb" style="height: 40px;">
                <span class="sb">
                    <div class="box"><img class="circle profile" src="{% get_media_prefix %}{{ feed.profileimg }}">
                    </div>
                    <div style="margin-left: 5px;">
                        <div><b>{{ feed.name }}</b></div>
                        <div style="font-size: 12px; color: gray;">
                            {% if feed.modified_at %}
                            {{ feed.modified_at }} Edited
                            {% else %}
                            {{ feed.created_at }}
                            {% endif %}
                            <span class="material-icons-outlined" style="font-size: 14px;">public</span>
                        </div>
                    </div>
                </span>
                <div class="dot dropdown">
                    <span class="material-icons-outlined btn-sm" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        more_horiz
                    </span>

                    <ul class="dot dropdown-menu">
                         {% if user.username == feed.username %}<!-- My feed = Modify, Delete  -->
                        <li class="feed_edit_btn" style="cursor: pointer;" feed_content="{{ feed.content }}"
                            feed_contentimg="{% get_media_prefix %}{{ feed.contentimg }}" feed_id="{{ feed.id }}">
                            <span class="material-icons-outlined">
                                edit
                            </span>
                            Edit post
                        </li>
                        <li class="feed_delete_btn" style="cursor: pointer;" feed_id="{{ feed.id }}">
                            <span class="material-icons-outlined">
                                delete
                            </span>
                            Delete
                        </li>
                        {% else %}<!-- Other user's feed = hide post  -->
                        <li>
                            <span class="feed_hide_btn" feed_id="{{ feed.id }}" style="cursor: pointer;">
                                <span class="material-icons-outlined">
                                    disabled_by_default
                                </span>
                                hide post
                            </span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <!-- Shared Feed -->
            {% if feed.shared_content_id %}
            {% if not feed.contentimg == 'None' %}
            <div style="height: 400px; width: 476px; border: solid 1px lightgray;">
                <img src="{% get_media_prefix %}{{ feed.contentimg }}" style="height: 398px; width: 474px;">
            </div>
            {% endif %}
            <div
                style="width: 95%; border: solid 1px lightgray; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; margin-left: 12px;">
                <div><b>{{ feed.shared_feed_name }}</b></div>
                <div style="font-size: 12px; color: gray;">{{ feed.shared_created_at }}</div>
                {% if feed.content %}
                <div>{{ feed.content }}</div>
                {% endif %}
            </div>

            <!-- Created Feed -->
            {% else %}
            {% if feed.content %}
            <div>
                {{ feed.content }}
            </div>
            {% endif %}
            {% if feed.contentimg %}
            <div style="height: 400px; width: 476px; border: solid 1px lightgray;">
                <img src="{% get_media_prefix %}{{ feed.contentimg }}" style="height: 398px; width: 474px;">
            </div>
            {% endif %}
            {% endif %}

            <!-- 1st part of Feed bottom (like count, comment count) -->
            <div class="sb" style="font-size: 16px; color: gray; height: 18px; padding: 6px 10px 0 10px;">
                <span>
                    <span class="material-icons-outlined" style="font-size: 18px; color: blue;">thumb_up</span>
                    <span id="like_count_{{ feed.id }}" feed_id="{{ feed.id }}">{{ feed.like_count }}</span>
                </span>

                <span><span id="comment_count_{{ feed.id }}">{{ feed.comment_set.all.count }}</span> Comments</span>
            </div>
            <br>

            <!-- last part of Feed bottom (like, comment, share) -->
            <div class="sb" style="color: gray; margin-top: -10px; padding: 0 40px; border-top: solid 1px lightgray;">
                {% if feed.like_or_not == 1 %}
                <div class="like_button" feed_id="{{ feed.id }}" style="cursor: pointer;">
                    <span id="likeicons_{{ feed.id }}" feed_id="{{ feed.id }}" class="material-icons">thumb_up</span>
                    Like
                </div>
                {% else %}
                <div class="like_button" feed_id="{{ feed.id }}" style="cursor: pointer;">
                    <span id="likeicons_{{ feed.id }}" feed_id="{{ feed.id }}"
                        class="material-icons-outlined">thumb_up</span>
                    Like
                </div>
                {% endif %}
                <div class="comment_start" feed_id="{{ feed.id }}" style="cursor: pointer;">
                    <span class="comment_start material-icons-outlined"
                        feed_id="{{ feed.id }}">chat_bubble_outline</span>
                    Comment
                </div>
                <div class="share dropdown">
                    <span class="share_button" feed_id="{{ feed.id }}" style="cursor: pointer;" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-icons-outlined">shortcut</span>
                        Share</span>
                    <ul class="share dropdown-menu">
                        <li class="share_now_btn" style="cursor: pointer;" feed_id="{{ feed.id }}"
                            feed_name="{{ feed.name }}" feed_content="{{ feed.content }}"
                            feed_contentimg="{{ feed.contentimg }}" created_at="{{ feed.created_at }}"
                            modified_at="{{ feed.modified_at }}">
                            <span class="material-icons-outlined">
                                share
                            </span>
                            Share now (Public)
                        </li>
                    </ul>
                </div>
            </div>

            <!-- To do Comment (display:none;) -->
            <div class="comment_section_{{ feed.id }}" feed_id="{{ feed.id }}" style="display:none;">
                <div class="box"><img class="circle profile" src="{% get_media_prefix %}{{ user.profileimg }}">
                </div>
                <div style="width: 100%;">
                    <input type="text" id="comment_{{ feed.id }}" feed_id="{{ feed.id }}"
                        class="submit_on_enter form-control" placeholder="Write a comment..."
                        style=" border-radius: 30px; background: #f0eeee;">
                </div>
            </div>
            <!-- Comments (display:none;) -->
            {% for comment in feed.comment_set.all %}
            <div class="comment_section_{{ feed.id }}" feed_id="{{ feed.id }}" style="display:none; ">
                <div class="box"><img class="circle profile" src="{% get_media_prefix %}{{ user.profileimg }}">
                </div>
                <div>
                    <div comment_id="{{ comment.id }}"
                        style="border: solid 1px lightgray;  width: 80%; min-width: 200px; border-radius: 30px; background: #f0eeee; padding: 5px 15px;">
                        <div style="font-size: 12px; font-weight: bold;">{{ comment.name }}</div>
                        <span style="font-size: 12px;">{{ comment.comment_content }}</span>
                        {% if not comment.comment_like_count == '0' %}
                        <span id="comment_likeicons_{{ comment.id }}" style="color: blue; font-size: 12px;">
                            <span id="comment_materialicons_{{ comment.id }}" class="material-icons"
                                style="color: blue; font-size: 12px;">thumb_up</span>
                            <span id="comment_likecount_{{ comment.id }}">{{ comment.comment_like_count }}</span>
                        </span>
                        {% else %}
                        <span id="comment_likeicons_{{ comment.id }}"></span>
                        {% endif %}
                    </div>
                    <div style="margin-left: 10px; font-size :12px; color :gray;">
                        {% if comment.comment_like_or_not %}
                        <span id="comment_like_button_{{ comment.id }}" class='comment_like_button'
                            comment_id="{{ comment.id }}" style="color: blue; cursor: pointer;">Liked</span>
                        {% else %}
                        <span id="comment_like_button_{{ comment.id }}" class='comment_like_button'
                            comment_id="{{ comment.id }}" style="cursor: pointer;">Like</span>
                        {% endif %}
                        <span id='comment_comment_button_{{ comment.id }}' class="comment_comment_button"
                            comment_id="{{ comment.id }}" style="cursor: pointer;">Reply</span>
                        <span> {{ comment.created_at }}</span>
                    </div>
                    <!-- Comment's Comments (display:none;)-->
                    {% for comment_comment in comment.comment_comment_set.all %}
                    <div class="comment_comment_section_{{ comment.id }}" comment_id="{{ comment.id }}"
                        style="display:none; flex-direction: row;">
                        <span class="material-icons" style="font-size :20px; color :gray;">
                            subdirectory_arrow_right
                        </span>
                        <div class="box"><img class="circle profile" src="{% get_media_prefix %}{{ user.profileimg }}">
                        </div>
                        <div
                            style="border: solid 1px lightgray;  width: 80%; min-width: 200px; border-radius: 30px; background: #f0eeee; padding: 5px 15px;">
                            <div style="font-size: 12px; font-weight: bold;">{{ comment_comment.name }}</div>
                            <span style="font-size: 12px;">{{ comment_comment.comment_comment_content }}</span>
                        </div>
                    </div>
                    <div>
                        {% if forloop.last %}
                        <div id="replies_{{ comment.id }}" style="font-size :12px; color :gray;">
                            <span class="material-icons" style="font-size: 12px;">
                                subdirectory_arrow_right
                            </span>
                            <span class="comment_comment_button" comment_id="{{ comment.id }}" style="cursor: pointer;">
                                {{ forloop.counter }} Repl{{ forloop.counter|pluralize:'y,ies' }}
                            </span>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div id="comment_comment_list_{{ comment.id }}">
                    </div>
                    <!-- To do comment's comments (display:none;) -->
                    <div class="comment_comment_section_{{ comment.id }}" comment_id="{{ comment.id }}"
                        style="display:none; ">
                        <div class="box"><img class="circle profile" src="{% get_media_prefix %}{{ user.profileimg }}">
                        </div>
                        <div style="width: 85%;">
                            <input type="text" id="comment_{{ comment.id }}" comment_id="{{ comment.id }}"
                                class="submit_on_enter_in_comment form-control"
                                placeholder="Reply to {{ comment.name }}..."
                                style=" border-radius: 30px; background: #f0eeee;">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div id="comment_list_{{ feed.id }}">
            </div>
        </div>
        {% endfor %}
        {% else %}
        {% endif %}
    </div>
</div>

<!-- Upload modal -->
<div id="upload_modal" class="modal_overlay">
    <div class="sb">
        <span></span>
        <!-- White part -->
        <div class="modal_window">
            <div class="sb">
                <span></span>
                <span style="text-align: center;">Create post</span>
                <a href="#" class="material-icons modal_close"
                    style="color: lightgrey; text-decoration: none;">close</a>
            </div>
            <hr>
            <span style="display: flex; flex-direction: row;">
                <div style="width: 40px;">
                    <div class="box"><img class="circle profile" src="{% get_media_prefix %}{{ user.profileimg }}">
                    </div>
                </div>
                <div>
                    <div><b>{{ user.name }}</b></div>
                    <div style="font-size: 12px; color: gray;"><span class="material-icons-outlined"
                            style="font-size: 14px;">public</span> <span>Public</span></div>
                </div>
                <span></span>
            </span>
            <div class="overflow-auto" style="height: 380px;">
                <div style="background-color: white; margin-bottom: 20px;">
                    <textarea id="content_text" name="content_text" placeholder="What's on your mind, {{ user.name }}?"
                        style="border: solid 1px lightgray; height: 180px; width: 100%; border-radius: 10px; background: white;"></textarea>
                </div>
                <div id="add_photo_msg" style="color: lightgray;">
                    <span class="material-icons-outlined">
                        add_to_photos
                    </span>
                    <span>Add photos or drag and drop</span>
                </div>
                <div class="img_upload_space"
                    style="margin-top: -40px; border: solid 1px lightgray; width: 420px; height: 380px;">
                </div>
            </div>
            <button id="feed_create_button" type="button" class="btn btn-primary" style="width: 100%;">Post</button>
        </div>
        <span></span>
    </div>
</div>

<!-- Modify modal -->
<div id="modify_modal" class="modal_overlay2">
    <div class="sb">
        <span></span>
        <!-- White part -->
        <div class="modal_window2">
            <div class="sb">
                <span></span>
                <span style="text-align: center;">Edit post</span>
                <a href="#" class="material-icons modal_close"
                    style="color: lightgrey; text-decoration: none;">close</a>
            </div>
            <hr>
            <span style="display: flex; flex-direction: row;">
                <div style="width: 40px;">
                    <div class="box"><img class="circle profile" src="{% get_media_prefix %}{{ user.profileimg }}">
                    </div>
                </div>
                <div>
                    <div><b>{{ user.name }}</b></div>
                    <div style="font-size: 12px; color: gray;"><span class="material-icons-outlined"
                            style="font-size: 14px;">public</span> <span>Public</span></div>
                </div>
                <span></span>
            </span>
            <div class="overflow-auto" style="height: 380px;">
                <div style="background-color: white; margin-bottom: 20px;">
                    <textarea id="modify_content_text" name="content_text"
                        style="border: solid 1px lightgray; height: 180px; width: 100%; border-radius: 10px; background: white;"></textarea>
                </div>
                <div id="modify_photo_msg" style="color: lightgray;">
                    <span class="material-icons-outlined">
                        add_to_photos
                    </span>
                    <span>Add photos or drag and drop</span>
                </div>
                <div class="img_upload_space"
                    style="margin-top: -40px; border: solid 1px lightgray; width: 420px; height: 380px;">
                </div>
            </div>
            <button id="feed_modify_button" type="button" class="btn btn-primary" style="width: 100%;">Save</button>
        </div>
        <span></span>
    </div>
</div>
{% endblock %}